 /*font-family start*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
 /*font-family end*/


 /*common css*/
 :root{
 	--pop: "Poppins", sans-serif;
 	--rob: "Roboto", sans-serif;;


 	--green: #21B573;
 	--red: #FD511A;
 	--black: #000000;

 }
 body{
 	font-family: var(--pop);
 	font-size: 16px;
 	font-weight: 400;
 	color: var(--black);
 }
 /*common end*/
 /*header start*/
 header{
 	background-color: #F0FFF0;
 	padding: 15px 0;

 }
 .m_nav{}
 .logo{}

 .menu{}
 .menu ul li a{
 	color: var(--black) !important;
 	padding: 0 15px !important;
 }
 .menu ul li a:hover{
 	color: var(--red) !important;
 }
 .btn_cm{
 	background-color: var(--green);
 	font-family: var(--rob);
 	color: white;
    line-height: 18.75px;
    border: none;
 }
 .btn_sin{
 	margin-left: 10px;
 	position: 12px 28px;
 }
 .btn_cm:hover {
 	background-color: var(--red);
 	color: white;
 }
 .btn_cm:active{
 	background-color: var(--red) !important;
 	color: white !important;
 }
 
 /*header end*/

















